<section class="shop">
  <div class="shop__header">
    <h1 class="title__thin">Shop</h1>
    <div>
      <a href="/">Home</a>
      <span>|</span>
      <span>Shop</span>
    </div>
  </div>
  <div class="shop__features">
    <div class="shop__features__left">
      <div class="shop__features__categories">
        <select
          id="select-category"
          class="form-select"
          aria-label="Default select example"
          name="category">
          <option value="Butter" <% if (category == 'Butter') { %> selected <% } %>>Butter</option>
          <option value="Donut" <% if (category == 'Donut') { %> selected <% } %>>Donut</option>
          <option value="Cupcake" <% if (category == 'Cupcake') { %> selected <% } %>>Cupcake</option>
          <option value="Red Velvet" <% if (category == 'Red Velvet') { %> selected <% } %>>Red Velvet</option>
          <option value="Biscuit" <% if (category == 'Biscuit') { %> selected <% } %>>Biscuit</option>
        </select>
      </div>
      <form class="shop__features__search">
        <input
          id="input-search"
          type="text"
          placeholder="Search"
          name="search"
          <% if (search !== undefined) { %><%= `value=${search} ` %><% } %>/>
      </form>
      <svg
        xmlns="http://www.w3.org/2000/svg"
        class="search__icon"
        fill="none"
        viewBox="0 0 24 24"
        stroke="currentColor"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z"
        ></path>
      </svg>
    </div>
    <div class="shop__features__right">
      <div class="shop__features__sort">
        <select
          id="select-sort"
          class="form-select"
          aria-label="Default select example"
          name="sort">
          <option selected>Default sorting</option>
          <option value="name" <% if (sort === 'name') { %>selected<% } %>>Name</option>
          <option value="price" <% if (sort === 'price') { %>selected<% } %>>Price</option>
        </select>
      </div>
    </div>
  </div>
  <div class="shop__products">
    <% cakes.forEach((cake) => { %>
    <div class="product">
      <a href="/cakes/<%= cake._id %>">
        <div class="product__img">
          <img src="<%= cake.figure %>" alt="product-1" />
          <span class="product__category"><%= cake.category %></span>
        </div>
        <div class="product__info">
          <h5><%= cake.name %></h5>
          <h5><%= cake.price %></h5>
        </div>
      </a>
      <div class="product__cart">
        <button class="product__cart__btn">ADD TO CART</button>
      </div>
    </div>
    <% }); %>
  </div>

  <div class="shop_pagination">
    <nav aria-label="Page navigation example">
      <ul class="pagination">
        <% if (pagination.order > 1) { %>
          <li class="page-item">
            <a
              class="page-link"
              aria-label="Next"
              href="<%= url %>page=<%= pagination.unit %>">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="next"
                fill="none"
                viewBox="0 0 24 24"
                stroke="currentColor"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M15 19l-7-7 7-7"
                ></path>
              </svg>
            </a>
          </li>
        <% } %>
        <% for (let i = 0; i < pagination.end; i++) { %>
        <li class="page-item">
          <a
            class="page-link"
            href="<%= url %>page=<%= i + pagination.unit + 1 %>">
            <%= i + pagination.unit + 1 %>
          </a>
        </li>
        <% } %>
        <% if (pagination.num > pagination.max) { %>
          <li class="page-item">
            <a
              class="page-link"
              aria-label="Next"
              href="<%= url %>page=<%= 1 + pagination.max %>">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="next"
                fill="none"
                viewBox="0 0 24 24"
                stroke="currentColor"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M9 5l7 7-7 7"
                ></path>
              </svg>
            </a>
          </li>
        <% } %>
      </ul>
    </nav>
  </div>
</section>