<div class="container rounded bg-white mt-5 mb-5" style="width: 50%">
  <div class="row border">
    <div class="col-md-6 border-right">
      <div class="d-flex flex-column align-items-center text-center p-3 py-5">
        <img
          class="rounded-circle mt-5 border"
          width="150px"
          src="<%= user.avatar %>"
        /><span class="font-weight-bold mt-3"><%= user.name %></span
        ><span class="text-black-50"><%= user.email %></span><span> </span>
      </div>
    </div>
    <div class="col-md-6 border-right">
      <div class="p-3 py-5">
        <div class="d-flex justify-content-between align-items-center mb-3">
          <h4 class="text-right">Profile</h4>
        </div>
        <div class="row mt-2">
          <div class="col-md-12">
            <span class="labels">Name: </span>
            <h5 class="d-inline"><%= user.name %></h5>
          </div>
        </div>

        <div class="row mt-3">
          <div class="col-md-12">
            <span class="labels">Phone: </span>
            <h5
              class="d-inline"
              style="
                font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman',
                  serif;
              "
            >
              <%= user.phone %>
            </h5>
          </div>
        </div>
        <div class="row mt-3">
          <div class="col-md-12">
            <span class="labels">Email: </span>
            <h5 class="d-inline"><%= user.email %></h5>
          </div>
        </div>
      </div>
      <a href="/users/<%= user._id %>/update">UPDATE</a>
    </div>
  </div>
</div>
