<section id="product">
  <div class="product__header">
    <h1 class="title__thin">Product detail</h1>
    <div>
      <a href="/"> <span>Home</span> </a>
      <span>|</span>
      <a href="/shop"><span>Shop</span> </a><span>|</span>
      <span><%= cake.name %></span>
    </div>
  </div>
  <div class="product__detail">
    <div class="product__detail__img">
      <img src="<%= cake.figure %>" alt="" />
    </div>
    <div class="product__detail__info">
      <div class="product__detail__info__header">
        <span><%= cake.category.name %></span>
        <h3><%= cake.name %></h3>
        <h4>$ <%= cake.price %></h4>
      </div>
      <div class="product__detail__info__describe">
        <p><%= cake.introduction %></p>
        <div class="product__detail__info__label">
          <ul>
            <li>SKU: <span><%= cake.sku %></span></li>
            <li>Category: <span><%= cake.category.name %></span></li>
            <li>Tags: <span><%= cake.tags.join(', ') %></span></li>
          </ul>
        </div>
        <div class="product__detail__option">
          <div class="quantity">
            <div class="pro-qty">
              <span class="dec qtybtn">-</span>
              <input type="text" value="2" />
              <span class="inc qtybtn">+</span>
            </div>
          </div>
          <a href="#" class="cart">Add to cart</a>
        </div>
      </div>
    </div>
  </div>
  <div class="product__detail__tab">
    <span>Description</span>
    <div class="tab-content">
      <p><%= cake.description %></p>
    </div>
  </div>
</section>
<section class="relatedProduct" style="padding: 10px 50px; text-align: center">
  <h3 class="section__title">Related Products</h3>
  <div class="products" style="padding: 0">
    <% relatedProducts.forEach(cake => { %>
    <div class="product">
      <div class="product__img">
        <a href="/cakes/<%= cake._id %>"
          ><img
            src="<%= cake.figure %>"
            alt="<%= cake.name %>"
            style="width: 250px; height: 250px"
          />
        </a>
        <span class="product__category"><%= cake.category.name %></span>
      </div>
      <div class="product__info">
        <h5><%= cake.name %></h5>
        <h5
          style="
            font-size: large;
            font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman',
              serif;
          "
        >
          $ <%= cake.price %>
        </h5>
      </div>
      <div class="product__cart">
        <button class="product__cart__btn">ADD TO CART</button>
      </div>
    </div>
    <% }); %>
  </div>
</section>
<section class="review">
  <h3 class="section__title">Product reviews</h3>
  <div class="review__comments">
    <div class="comment__box">
      <div class="comment__customer__info">
        <img src="/img/customer1.jpg" alt="" />
        <div>
          <h4>Kerry D.Silva</h4>
          <span>New York</span>
        </div>
      </div>
      <div class="comment__message">
        <p>
          "Lorem ipsum dolor sit, amet consectetur adipisicing elit. Fugit et ea
          blanditiis sequi."
        </p>
      </div>
    </div>
    <div class="comment__box">
      <div class="comment__customer__info">
        <img src="/img/customer2.jpg" alt="" />
        <div>
          <h4>Ophela Nunez</h4>
          <span>London</span>
        </div>
      </div>
      <div class="comment__message">
        <p>
          "Lorem ipsum dolor sit, amet consectetur adipisicing elit. Fugit et ea
          blanditiis sequi."
        </p>
      </div>
    </div>
    <div class="comment__box">
      <div class="comment__customer__info">
        <img src="/img/customer3.jpg" alt="" />
        <div>
          <h4>Kim Dahyun</h4>
          <span>Seoul</span>
        </div>
      </div>
      <div class="comment__message">
        <p>
          "Lorem ipsum dolor sit, amet consectetur adipisicing elit. Fugit et ea
          blanditiis sequi."
        </p>
      </div>
    </div>
    <form method="post" action="/comments?cake=<%= cake._id %>">
      <div class="sendComment">
        <input
          class="comment__input"
          type="text"
          placeholder="Your comment"
          name="content"
        />
        <button type="submit" class="send__btn">
          <img src="/img/send.png" alt="send-icon" />
        </button>
      </div>
    </form>
  </div>
</section>
