<html lang="en">
  <head>
    <%- include('./partials/head'); %>
  </head>
  <body>
    <%- include('./partials/header'); %>
    <%- include('./components/about'); %>
    <%- include('./partials/footer'); %>
    <%- include('./partials/script'); %>
  </body>
</html>
