<html lang="en">
  <head>
    <%- include('./partials/head'); %>
  </head>
  <body>
    <%- include('./partials/header'); %>
    <%- include('./components/checkout'); %>
    <%- include('./partials/footer'); %>
    <%- include('./partials/script'); %>
    <script type="text/javascript" src="/js/checkout.js"></script>
  </body>
</html>
