<html lang="en">
  <head>
    <%- include('./partials/head'); %>
  </head>
  <body>
    <%- include('./partials/header'); %>
    <%- include('./components/shop'); %>
    <%- include('./partials/footer'); %>
    <%- include('./partials/script'); %>

    <script src="/js/queryParam.js" type="text/javascript"></script>
  </body>
</html>
