<html lang="en">
  <head>
    <%- include('./partials/head'); %>
  </head>
  <body>
    <%- include('./partials/header'); %> <%- include('./components/viewUser');
    %> <%- include('./partials/footer'); %> <%- include('./partials/script'); %>
  </body>
</html>
