<html lang="en">
  <head>
    <%- include('./partials/head'); %>
  </head>
  <body>
    <%- include('./partials/header'); %>
    <%- include('./components/viewCake'); %>
    <%- include('./partials/footer'); %>
    <%- include('./partials/script'); %>

    <script type='text/javascript' src='/js/comment.js'></script>
  </body>
</html>
