<section class="stat">
  <div class="limiter">
    <div class="container-table100">
      <div class="wrap-table100">
        <!-- <form id="form-query"> -->
        <div>
          <h3>Statistics By Period</h3>
          <div class="input__date">
            <form action="">
              <label for="start">Start date:</label>
              <input
                type="date"
                id="start"
                name="start"
                format="yyyy-MM-dd"
                min="2021-01-01"
                max="2023-01-01"
                <% if (start) { %>
                 value=<%= start %> 
                <% } %>
              />
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="35px"
                height="35px"
                fill="none"
                viewBox="0 0 24 24"
                stroke="currentColor"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M17 8l4 4m0 0l-4 4m4-4H3"
                />
              </svg>
              <label for="end">End date:</label>
              <input
                type="date"
                id="end"
                name="end"
                format="yyyy-MM-dd"
                min="2021-01-01"
                max="2023-01-01"
                <% if (end) { %>
                  value=<%= end %> 
                 <% } %>
              />
              <button class="btn__period" type="submit">Statistic</button>
            </form>
          </div>
          <div class="table100 ver2">
            <div class="table100-head">
              <table>
                <thead class="text-center">
                  <tr class="row100">
                    <!-- <th class="column1">Product</th>
                    <th class="column2">Category</th>
                    <th class="column5">Quantity</th> -->
                    <th style="text-align:center;width:7%;">OrderId</th>
                    <th class="column6">Customer</th>
                    <th class="column6">Datetime</th>
                    <th class="column6">Total</th>
                  </tr>
                </thead>
              </table>
            </div>

            <div class="table100-body">
              <table>
                <tbody>
                  <% if (orders) { %> <% orders.forEach(currOrder => { %>
                  <tr class="row100">
                    <td class="column6"><%= currOrder._id %> </td>
                    <td class="column2">
                      <% if (currOrder.name != null){ %>
                      <% } %>
                      <%= currOrder.name.first + " " + currOrder.name.last %> 
                    </td>
                    <td class="column2">
                      <%= currOrder.createdAt.toLocaleString() %>
                    </td>
                    <td class="column2">
                      $<%= currOrder.total %>
                    </td>
                  </tr>
                  <% }) %> <% } %>

                  <!-- <tr class="row100">
                    <td class="column1">Cupcake Strawberry</td>
                    <td class="column2">Cupcake</td>
                    <td class="column5">120</td>
                    <td class="column3">$1600</td>
                  </tr>

                  <tr class="row100">
                    <td class="column1">Biscuit Milk</td>
                    <td class="column2">Biscuit</td>
                    <td class="column5">52</td>
                    <td class="column3">$350</td>
                  </tr> -->
                  <tr class="row100">
                    <td class="column1"></td>
                    <td class="column2"></td>
                    <td class="column2"></td>
                    <td class="column2" style="text-align:left;padding-left:10px"><b>Total Sum: $<%= total %> </b></td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>

          <h5 style="margin-top: 20px; margin-left: 30px">Details</h5>
          <div class="table100 ver2">
            <div class="table100-head">
              <table>
                <thead>
                  <tr class="row100">
                    <th class="column3">Customer</th>
                    <th class="column3">Datetime</th>
                    <th class="column3">Products</th>
                    <th class="column4">Unit Price</th>
                    <th class="column5">Money</th>
                    <!-- <th class="column3">Price</th> -->
                    <th class="column4">Total</th>
                  </tr>
                </thead>
              </table>
            </div>

            <div class="table100-body">
              <table>
                <tbody>
                  <% if (orders) { %> <% orders.forEach(currOrder => { %>
                  <!--  -->
                  <tr class="row100">
                    <td class="column3">
                      <% if (currOrder.name != null){ %>
                      <% } %>
                      <%= currOrder.name.first + " " + currOrder.name.last %> 
                    </td>
                    <td class="column3">
                      <%= currOrder.createdAt.toLocaleString() %>
                    </td>
                    <td class="column3">
                      <% currOrder.wares.forEach(item => { %>
                       <p><%= item.cake.name %><b> x<%= item.quantity %></b></p> 
                      <% }) %>
                    </td>
                    <td class="column4">
                      <% currOrder.wares.forEach(item => { %>
                        <p>$<%= item.cake.price %> </p> 
                       <% }) %>
                    </td>
                    <td class="column5">
                      <% currOrder.wares.forEach(item => { %>
                        <p>$<%= item.quantity*item.cake.price %></p> 
                       <% }) %>
                    </td>
                    <td class="column4">
                      $<%= currOrder.total %>
                    </td>
                  </tr>
                  <% }) %> <% } %>
                  <!-- <tr class="row100">
                    <td class="column3">Cupcake Strawberry</td>
                    <td class="column4">Cupcake</td>
                    <td class="column3">2022-01-01 12:20:30</td>
                    <td class="column3">Tấn Dũng</td>
                    <td class="column5">2</td>
                    <td class="column4">$30</td>
                  </tr> -->
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <!-- </form> -->

        <hr style="margin: 60px 0px" />

        <div>
          <h3>Statistics By Product</h3>
          <div class="category">
            <form action="">
              <select
                id="select-category"
                class="select__category"
                aria-label="Default select example"
                name="category"
              >
                <% categories.forEach(element => { %>
                <option
                  value="<%=element.name %>"
                  style="color:black"
                <% if (element.name == category) { %>selected>
                  <%=element.name %>
                <% } %>
                </option>
                <% }) %>
              </select>
              <button class="btn__product" type="submit">Statistic</button>
            </form>
          </div>
          <div class="table100 ver3">
            <div class="table100-head">
              <table>
                <thead>
                  <tr class="row100">
                    <th class="column5">Top</th>
                    <th class="column1">Product</th>
                    <th class="column2">Category</th>
                    <th class="column5">Quantity</th>
                    <th class="column3">Total</th>
                  </tr>
                </thead>
              </table>
            </div>

            <div class="table100-body">
              <table>
                <tbody>
                  <tr class="row100">
                    <td class="column5">1</td>
                    <td class="column1">Cupcake Strawberry</td>
                    <td class="column2">Cupcake</td>
                    <td class="column5">120</td>
                    <td class="column3">$1600</td>
                  </tr>

                  <tr class="row100">
                    <td class="column5">2</td>
                    <td class="column1">Cupcake Chocolate</td>
                    <td class="column2">Cupcake</td>
                    <td class="column5">300</td>
                    <td class="column3">$1235</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
