<html lang="en">
  <head>
   <%- include('../partials/head'); %>
  </head>
  <body>
    <%- include('../partials/header'); %>
    <%- include('./partials/index'); %>
    <%- include('../partials/footer'); %>
    <%- include('../partials/script'); %>
  </body>
</html>