<main>
  <section class="main__top">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-auto">
          <div class="title__thin">
            <h1><b>Users List</b></h1>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="main__product-list">
    <div class="container">
      <div class="row">
        <form class="shop__features" id="form-query">
          <div class="shop__features__left">
            <div class="shop__features__search">
              <input type="text" placeholder="Search" class="query-control" name="search" />
            </div>
            <button type="submit" class="search__icon" id="btn-submit">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="search__icon"
                fill="none"
                viewBox="0 0 24 24"
                stroke="currentColor"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z"
                ></path>
              </svg>
            </button>
          </div>
          <div class="shop__features__right">
            <span>Sort by:</span>
            <div class="shop__features__sort">
              <select
                id="select-sort"
                class="form-select query-control"
                name="sort"
                aria-label="Default select example"
              >
                <option>Default sorting</option>
                <option value="username">Username</option>
                <option value="name">Name</option>
              </select>
            </div>
          </div>
        </form>
      </div>
      <div class="row">
        <div class="col">
          <div class="add-product">
            <button
              type="button"
              class="btn btn-secondary"
              onclick="location.href='/users/create'"
            >
              <img src="/images/add-icon.png" alt="Add icon" />
              <span>&nbsp;Add a new user</span>
            </button>
          </div>
        </div>
      </div>
      <div class="row" style="margin-top:10px">
        <ul class="user-list">
          <li class="user user-header">
            <div class="user__avatar"><h5>AVATAR</h5></div>
            <div class="user__phone"><h5>PHONE</h5></div>
            <div class="user__name"><h5>NAME</h5></div>
            <div class="user__email"><h5>EMAIL</h5></div>
            <div class="user__state"><h5>STATE</h5></div>
            <div class="user__options"><h5>OPTIONS</h5></div>
          </li>
          <% users.forEach(user => { %>
            <li class="user">
              <div class="user__avatar">
                <img src="<%= user.avatar %>" />
              </div>
              <div class="user__phone">
                <h5><%= user.phone %></h5>
              </div>
              <div class="user__name">
                <h5><%= user.name %></h5>
              </div>
              <div class="user__email">
                <h5><%= user.email %></h5>
              </div>
              <div class="user__state">
                <h5><%= user.state.value.charAt(0).toUpperCase() + user.state.value.slice(1) %></h5>
              </div>
              <div class="user__options">
                <div
                  class="user__options__edit"
                  onclick="location.href='/users/<%= user._id %>/update'"
                >
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="24"
                    height="24"
                    viewBox="0 0 24 24"
                  >
                    <path
                      d="M12 0c-6.627 0-12 5.373-12 12s5.373 12 12 12 12-5.373 12-12-5.373-12-12-12zm-5 17l1.006-4.036 3.106 3.105-4.112.931zm5.16-1.879l-3.202-3.202 5.841-5.919 3.201 3.2-5.84 5.921z"
                    ></path>
                  </svg>
                  <span>Edit user</span>
                </div>
                <div
                  class="user__options__remove"
                  onclick="location.href='/users/<%= user._id %>/delete'"
                >
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="24"
                    height="24"
                    viewBox="0 0 24 24"
                  >
                    <path
                      d="M12 0c-6.627 0-12 5.373-12 12s5.373 12 12 12 12-5.373 12-12-5.373-12-12-12zm4.151 17.943l-4.143-4.102-4.117 4.159-1.833-1.833 4.104-4.157-4.162-4.119 1.833-1.833 4.155 4.102 4.106-4.16 1.849 1.849-4.1 4.141 4.157 4.104-1.849 1.849z"
                    ></path>
                  </svg>
                  <span>Remove user</span>
                </div>
              </div>
            </li>
          <% }); %>
        </ul>
      </div>
      <div class="row">
        <div class="col text-center">
          <div class="pagination-bar">
            <a href="#">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="10"
                height="25"
                viewBox="0 0 24 24"
              >
                <path d="M3 12l18-12v24z"></path>
              </svg>
            </a>
            <a href="#" class="active">1</a>
            <a href="#">2</a>
            <a href="#">3</a>
            <a href="#">4</a>
            <a href="#">5</a>
            <a href="#">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="10"
                height="25"
                viewBox="0 0 24 24"
              >
                <path d="M21 12l-18 12v-24z"></path>
              </svg>
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>